<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="s2jh.biz.shop.crm.expediting.entity.ExpeditingCase">
	<resultMap type="s2jh.biz.shop.crm.expediting.entity.ExpeditingCase" id="expeditingCase">
		<result column="id" property="id"/>
		<result column="store_name" property="storeName"/>
		<result column="to_save_money" property="toSaveMoney"/>
		<result column="cf_success_ratio" property="cfSuccessRatio"/>
		<result column="sms_content" property="smsContent"/>
		<result column="sms_click_times" property="smsClickTimes"/>
		<result column="owned_industry" property="ownedIndustry"/>
		<result column="createdBy" property="createdBy"/>
		<result column="createdDate" property="createdDate"/>
		<result column="lastModifiedBy" property="lastModifiedBy"/>
		<result column="lastModifiedDate" property="lastModifiedDate"/>
	</resultMap>
	
	<!--根据所有的优秀催付款案例 -->
	<select id="findAllExpeditingCase" resultMap="expeditingCase">
		SELECT id,store_name,to_save_money,cf_success_ratio,sms_content,sms_click_times,owned_industry,
		createdBy,createdDate,lastModifiedBy,lastModifiedDate
		FROM CRM_EXPEDITING_CASE
	</select>
</mapper>